.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.dark-2{
    color: #474747;
}

.text-center{
    text-align: center;
}

.btn-primary{
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    padding: 18px 35px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.section-title{
    font-weight: 700;
    font-size: 35px;
    color: #181818;
}

.section-description{
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

/* header */
.header{
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
}

/* banner styles */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}

.banner-content{
    max-width: 584px;
}

.banner-greetings{
    font-weight: 600;
    font-size: 45px;
}

.banner-title{
    font-weight: 700;
    font-size: 85px;
}

.banner-profile-pic{
    width: 584px;
}

/* main styles */
main{
    max-width: 1140px;
    margin: 0 auto;
}

main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;  
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.item-description{
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}

/* skills section styles */
.skills-container{
    display: flex;
    gap: 24px;
}

.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}


